@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{

    .esconder{
        display: none;
    }

    .mostrar{
        display: block;
    }
    
    .shadow-card{
        box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.25);
    }

    .shadow-bar{
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }

    .yellow-card{
        background: rgba(255, 196, 81, 0.8);
    }

    .white-bar{
        background: rgba(233, 233, 233, 0.8);
    }

    .hidden-scroll-1::-webkit-scrollbar {
        display: none; /* chrome, safari y Opera*/
    }

    .hidden-scroll-2{
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
}

.button-nav{
    @apply ml-4  text-base  font-roboto;
}

.logo{
    @apply text-center  align-middle  ml-1  text-xl  text-logo  font-roboto;
}

.header{
    @apply container  mx-auto  flex  flex-row  flex-nowrap  justify-between  items-center  mt-4;
} 

.selected-category{
    @apply bg-yellowTab  text-white  p-2  rounded-lg;
}

.unselected-category{
    @apply bg-unselectTab  text-black  p-2  rounded-lg;
}

.rounded-dsc{
    @apply rounded-tl-xl  rounded-tr-full  rounded-br-full  rounded-bl-xl  rounded
}